<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <title>Result Management System</title>
</head>
<body>
    <header>
        <nav class="navbar bg-primary bg-gradient">
            <div class="container-fluid justify-content-center">
                <h1 class="text-white">Result Management System</h1>
            </div>
        </nav>
    </header>
    <div class="text-center mt-5">
        <h3 class="display-6 mb-4">Login as</h3>
        <a href="/teacher" class="btn btn-success">Teacher</a>
        <a href="/student" class="btn btn-success ms-5">Student</a>
    </div>    
</body>
</html>