<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <title>Add Result</title>
</head>
<body>
    <header>
        <nav class="navbar bg-primary bg-gradient">
            <div class="container-fluid justify-content-center">
                <h1 class="text-white">Result Management System</h1>
            </div>
        </nav>
    </header>

    <div class="container-fluid mt-5">
        <div class="mb-4 ms-5">
            <a href="/student">Go Back</a>
        </div>
        <div class="container">
            <div class="text-center my-3">
              <h2>Result</h2>
            </div>
            <div class="text-center">
              <p>RollNo: <%=result.rollNo %></p>
              <p>Name: <%= result.name %></p>
              <p>Date of Birth: <%= result.dob %></p>
              <p>Score: <%= result.marks %></p>
            </div>
          </div>
          
    </div>
</body>
</html>